doctype html
html
  head
    title Test Installer - menu
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css")
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js")
    script(src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js")
    style.
      #mainContainer
      {
      border-style: ridge;
      border-width: 5px;
      box-shadow: 6px 6px 6px #111111;
      border-radius: 10px;
      background: linear-gradient(180deg, #EEEEEE, #777777)
      }
  body
    .container-fluid(style='background: linear-gradient(180deg, #339966, #050505)')
      .row(style='background-color: black')
        .col-5(style='background-color: black')
          .media
            img.align-self-start.mr-3(src='/images/logo.png')
        .col-7(style=min-height )
          //
      .row(style='min-height: 50px;')
      .view
        #mainContainer.container
          .row.clearfix
            .col-md-12.column
              .page-header
                h1
                  | 联想超融合 
                  span LHS H3000
                hr(style='box-shadow: 1px 0px 1px')  
          .row.clearfix(style='margin: 10px;')
            .col-md-2.column
              button.btn.btn-info(type='button') 最终用户许可协议
              hr
              button.btn.btn-info(type='button') 设备部署目标
              hr
              button.btn.btn-info(type='button') 选择部署主机
              hr
              button.btn.btn-info(type='button') 设置主机信息
              hr
              button.btn.btn-info(type='button') 设置集群管理网络
              hr
              button.btn.btn-info(type='button') 设置集群存储网络
              hr
              button.btn.btn-info(type='button') 设置集群存储网络
              hr
              button.btn.btn-info(type='button') 开始部署
              hr
              button.btn.btn-info(type='button') 完成页
              hr
            .col-md-10.column
              .page-header
                h1
                  | 最终用户许可协议
                p 仔细阅读并接受以下协议
                  hr
              .ESXishow.pre-scrollable
                table#esxi.table
                  thead
                    tr
                      th 
                      th EXSi
                      th Manufacture
                      th Core
                      th Memory
                  tbody
                    tr
              #checkButton.button.btn.btn-primary(type='button', onclick='apd()') append!
          .row.clearfix
            .col-md-12.column
              hr(style='box-shadow: 0px 1px')
              button.btn.btn-default(type='button') 返回
              button.btn.btn-default(type='button') 下一步
              button.btn.btn-default(type='button') 取消
      .row
        .col-12
              #footer(style='clear:both;text-align:center; color:gold;')
                    | 版权 © lenovocloud.com
      script.
        function apd()
        {
          //add cell
          var checkbox1 = document.createElement("input");
          checkbox1.className = 'form-check-input';
          checkbox1.setAttribute("type","checkbox");
          var p1 = document.createElement("p");
          var text1 = document.createTextNode("172.16.24.144");
          p1.appendChild(text1);
          var input1 = document.createElement("input");
          input1.setAttribute("placeholder", "Lenovo")
          var input2 = document.createElement("input");
          input2.setAttribute("placeholder", "Intel Core 8700K")
          var input3 = document.createElement("input");
          input3.setAttribute("placeholder", "Kingston")
          //add column
          var td1 = document.createElement("td");
          var td2 = document.createElement("td");
          var td3 = document.createElement("td");
          var td4 = document.createElement("td");
          var td5 = document.createElement("td");
          td1.appendChild(checkbox1);
          td2.appendChild(p1);
          td3.appendChild(input1);
          td4.appendChild(input2);
          td5.appendChild(input3);
          //add row
          var tr1 = document.createElement("tr");
          tr1.appendChild(td1);
          tr1.appendChild(td2);
          tr1.appendChild(td3);
          tr1.appendChild(td4);
          tr1.appendChild(td5);
          //add table
          var tbody1 = document.createElement("tbody");
          var element = document.getElementById("esxi");
          tbody1.appendChild(tr1);
          element.appendChild(tbody1);
        }
