extends layout
//- http://www.nooong.com/docs/jade_chinese.htm
//- https://v3.bootcss.com/css/
block content
  #header(style='background-color:black;')
    h1(style='float:left;color:white;font-family:微软雅黑;font-weight:bold;width:155px;background-color:red') &nbsp Lenovo
    h1(style='float:left;color:white;font-family:微软雅黑;font-weight:bold;width:845px;background-color:black') &nbsp 联想超融合 LHS H3000
  #guide(style='float:left;')
    a(href='/home')前往home
    br
    a(href='/test')前往Test
