 octype html
html
  head
    meta(charset="utf-8")
    |  
    | 	
    title H3000部署
    | 	
    | 	
    link(rel="stylesheet", href="./deploy/bootstrap.min.css")
    | 	
    link(href="./deploy/bootstrap-editable.css", rel="stylesheet")
    | 	
    link(href="./deploy/bootstrap-table.min.css", rel="stylesheet")
    | 	
    | 	
    script(src="./deploy/jquery.min.js")
    | 	
    script(src="./deploy/bootstrap.min.js")
    | 	
    script(src="./deploy/bootstrap-editable.js")
    | 	
    script(src="./deploy/bootstrap-table.js")
    | 	
    script(src="./deploy/bootstrap-table-editable.js")
    //
      <script src="./x-editable-develop/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
      <script src="./bootstrap-table-develop/dist/bootstrap-table.js"></script>
    style.
      .mytop{
      background: -webkit-linear-gradient(#ECEDF0, #BFC1C5); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#ECEDF0, #BFC1C5); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#ECEDF0, #BFC1C5); /* Firefox 3.6 - 15 */
      background: linear-gradient(#ECEDF0, #BFC1C5); /* 标准的语法 */
      }
      .myfoot{
      background: -webkit-linear-gradient(#ECEDF0, #BFC1C5); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#ECEDF0, #BFC1C5); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#ECEDF0, #BFC1C5); /* Firefox 3.6 - 15 */
      background: linear-gradient(#ECEDF0, #BFC1C5); /* 标准的语法 */
      }
      .leftarea
      {
      float: left;
      margin-left:-15px;
      margin-top:-15px;
      width: 220px;
      height: 535px;
      background-color: #EFEFEF;
      }
      .rightarea
      {
      float: left;
      width: 560px;
      margin-top:-15px;
      height: 500px;
      }
      .deploytitle{
      margin-top:30px;
      margin-left:30px;
      font-family:微软雅黑;
      font-weight:bold;
      color:#999999
      }
      .completetitle{
      margin-top:15px;
      margin-left:0px;
      font-family:微软雅黑;
      font-weight:bold;
      color:#000000
      }
      .titleactive{
      margin-top:15px;
      background-color:#2B5480;
      color:#FFFFFF;
      border-radius:5px 5px 5px 5px;
      height:30px;
      line-height:30px;
      }
      .firsttitle{
      margin-top:30px;
      }
  body
    h2 欢迎来到H3000部署界面
    // 按钮触发模态框
    button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#modal1")
      | 开始部署
    // 模态框（Modal）
    #modal1.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", data-backdrop="static", data-keyboard="false")
      .modal-dialog(style="width:800px")
        .modal-content(style="height:600px")
          .mytop(style="height:30px;border-radius:5px 5px 0px 0px; border-bottom:2px solid #A9A9A8")
            p#myModalLabel(style="line-height:30px;font-family:微软雅黑;font-weight:bold") &nbsp&nbsp&nbsp&nbsp H3000标准版安装
          | 			
          .modal-body
            .leftarea
              h5.deploytitle.titleactive.firsttitle 1、用户许可协议
              | 					
              h5.deploytitle 2、配置节点信息
              | 					
              h5.deploytitle 3、配置vCenter信息
              | 					
              h5.deploytitle 4、配置cvm信息
              | 					
              h5.deploytitle 5、配置软件信息
            | 				
            .rightarea
              p.deploytitle.page-header(style="color:#000000") 请阅读下面的许可协议，然后在继续
              | 					
              form(role="form", style="margin-left:30px")
                // 单选
                .form-group
                  textarea.form-control(name="", id="", rows="15", style="width:530px")
                    | 联想超融合AIO H3000是一个纯软件实现的企业存储解决方案，为虚拟化环境提供虚拟机级别的存储概念，并可与服务器虚拟化管理方案和用户界面完全集成。联想超融合平台消除了对存储阵列（无论是 SAN还是 NAS）的需要，通过汇聚多台服务器的分散存储资源来提供超融合存储。它消除存储配置、存储管理和存储网络，使管理员可以专注于高附加值的活动，从而大大简化了 IT 操作。
                    | 联想超融合系统提供以虚拟机为中心的企业级数据服务，支持虚拟机实时迁移、动态负载均衡、高可用性、数据保护和灾难恢复等高级功能。
                    | 通过整合标准通用服务器上的计算与存储资源，联想超融合系统的存储节约了大量资本支出，而不影响虚拟工作负荷的性能及可扩展性。联想超融合存储可与传统存储阵列和服务器共存，以保护投资。不必配置冗余资源，其多功能的体系结构即可提供独立、按需扩展容量和性能的能力
                    | 联想超融合AIO H3000是一个纯软件实现的企业存储解决方案，为虚拟化环境提供虚拟机级别的存储概念，并可与服务器虚拟化管理方案和用户界面完全集成。联想超融合平台消除了对存储阵列（无论是 SAN还是 NAS）的需要，通过汇聚多台服务器的分散存储资源来提供超融合存储。它消除存储配置、存储管理和存储网络，使管理员可以专注于高附加值的活动，从而大大简化了 IT 操作。
                    | 联想超融合系统提供以虚拟机为中心的企业级数据服务，支持虚拟机实时迁移、动态负载均衡、高可用性、数据保护和灾难恢复等高级功能。
                    | 通过整合标准通用服务器上的计算与存储资源，联想超融合系统的存储节约了大量资本支出，而不影响虚拟工作负荷的性能及可扩展性。联想超融合存储可与传统存储阵列和服务器共存，以保护投资。不必配置冗余资源，其多功能的体系结构即可提供独立、按需扩展容量和性能的能力
                    | 联想超融合AIO H3000是一个纯软件实现的企业存储解决方案，为虚拟化环境提供虚拟机级别的存储概念，并可与服务器虚拟化管理方案和用户界面完全集成。联想超融合平台消除了对存储阵列（无论是 SAN还是 NAS）的需要，通过汇聚多台服务器的分散存储资源来提供超融合存储。它消除存储配置、存储管理和存储网络，使管理员可以专注于高附加值的活动，从而大大简化了 IT 操作。
                    | 联想超融合系统提供以虚拟机为中心的企业级数据服务，支持虚拟机实时迁移、动态负载均衡、高可用性、数据保护和灾难恢复等高级功能。
                    | 通过整合标准通用服务器上的计算与存储资源，联想超融合系统的存储节约了大量资本支出，而不影响虚拟工作负荷的性能及可扩展性。联想超融合存储可与传统存储阵列和服务器共存，以保护投资。不必配置冗余资源，其多功能的体系结构即可提供独立、按需扩展容量和性能的能力
                | 						
                .checkbox
                  label
                    input#LicenseAgreement(type="checkbox")
                    | 我接受许可协议条款
            |             .
          | 			
          .myfoot(style="height:50px;border-radius:0px 0px 5px 5px; border-top:2px solid #A9ACAF")
            div(style="line-height:50px;margin-left:450px")
              button#back1.btn.btn-default.active(type="button", disabled="true") 上一步
              | 				
              button#next1.btn.btn-default.active(type="button", style="margin-left:12px", disabled="true", data-toggle="modal", data-target="#modal2") 下一步
              | 				
              button.btn.btn-default.active(type="button", style="margin-left:12px", disabled="true") 完&nbsp&nbsp&nbsp&nbsp成
              | 				
              button.btn.btn-default.active(type="button", data-dismiss="modal", style="margin-left:12px") 关&nbsp&nbsp&nbsp&nbsp闭
        // /.modal-content
      // /.modal
    // 模态框---node信息
    #modal2.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", data-backdrop="static", data-keyboard="false")
      .modal-dialog(style="width:800px")
        .modal-content(style="height:600px")
          .mytop(style="height:30px;border-radius:5px 5px 0px 0px; border-bottom:2px solid #A9A9A8")
            p#myModalLabel(style="line-height:30px;font-family:微软雅黑;font-weight:bold") &nbsp&nbsp&nbsp&nbsp H3000标准版安装
          | 			
          .modal-body
            .leftarea
              h5.completetitle
                img(src="./deploy/hook.png", height="30", width="30")
                | 1、用户许可协议
              | 					
              h5.deploytitle.titleactive 2、配置节点信息
              | 					
              h5.deploytitle 3、配置vCenter信息
              | 					
              h5.deploytitle 4、配置cvm信息
              | 					
              h5.deploytitle 5、配置软件信息
            | 				
            .rightarea
              p.deploytitle.page-header(style="color:#000000") 请填写node的相关信息，然后在继续
              | 					
              form(role="form", style="margin-left:30px")
                #toolbar(style="margin-top:-20px")
                  .btn-group
                    button#add.btn.btn-default
                      | 增加节点
                    |   
                    | 								
                    button#remove.btn.btn-default
                      | 删除节点
                | 						
                table#table(data-toolbar="#toolbar", data-id-field="node_order", data-click-to-select="true")
            |             .
          | 			
          .myfoot(style="height:50px;border-radius:0px 0px 5px 5px; border-top:2px solid #A9ACAF")
            div(style="line-height:50px;margin-left:450px")
              button#back2.btn.btn-default.active(type="button") 上一步
              | 				
              button#next2.btn.btn-default.active(type="button", style="margin-left:12px", data-toggle="modal", data-target="#modal3") 下一步
              | 				
              button.btn.btn-default.active(type="button", style="margin-left:12px", disabled="true") 完&nbsp&nbsp&nbsp&nbsp成
              | 				
              button.btn.btn-default.active(type="button", data-dismiss="modal", style="margin-left:12px") 关&nbsp&nbsp&nbsp&nbsp闭
        // /.modal-content
    // /.modal
    // 模态框3---vCenter信息
    #modal3.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", data-backdrop="static", data-keyboard="false")
      .modal-dialog(style="width:800px")
        .modal-content(style="height:600px")
          .mytop(style="height:30px;border-radius:5px 5px 0px 0px; border-bottom:2px solid #A9A9A8")
            p#myModalLabel(style="line-height:30px;font-family:微软雅黑;font-weight:bold") &nbsp&nbsp&nbsp&nbsp H3000标准版安装
          | 			
          .modal-body
            .leftarea
              h5.completetitle
                img(src="./deploy/hook.png", height="30", width="30")
                | 1、用户许可协议
              | 					
              h5.completetitle
                img(src="./deploy/hook.png", height="30", width="30")
                | 2、配置节点信息
              | 					
              h5.deploytitle.titleactive 3、配置vCenter信息
              | 					
              h5.deploytitle 4、配置cvm信息
              | 					
              h5.deploytitle 5、配置软件信息
            | 				
            .rightarea
              p.deploytitle.page-header(style="color:#000000") 请填写vCenter的相关信息，然后在点击下一步
              | 					
              form.form-horizontal(role="form")
                .form-group
                  label.col-sm-2.control-label(for="test1", style="padding-left: 0px") 参数1
                  |                             
                  .col-md-4
                    input#test1.form-control(type="text")
                  |                             
                  label.col-sm-2.control-label(for="test2") 参数2
                  |                             
                  .col-md-4
                    input#test2.form-control(type="text")
                | 						
                | 						
                .form-group
                  label.col-sm-2.control-label(for="firstname") 名字
                  | 							
                  .col-sm-10
                    input#firstname.form-control(type="text", placeholder="请输入名字")
                | 						 
                .form-group
                  label.col-sm-2.control-label(for="lastname") 姓
                  | 							
                  .col-sm-10
                    input#lastname.form-control(type="text", placeholder="请输入姓")
            |             .
          | 			
          .myfoot(style="height:50px;border-radius:0px 0px 5px 5px; border-top:2px solid #A9ACAF")
            div(style="line-height:50px;margin-left:450px")
              button#back3.btn.btn-default.active(type="button") 上一步
              | 				
              button#next3.btn.btn-default.active(type="button", style="margin-left:12px") 下一步
              | 				
              button#finsh.btn.btn-default.active(type="button", style="margin-left:12px", disabled="true") 完&nbsp&nbsp&nbsp&nbsp成
              | 				
              button.btn.btn-default.active(type="button", data-dismiss="modal", style="margin-left:12px") 关&nbsp&nbsp&nbsp&nbsp闭
        // /.modal-content
    // /.modal
  script.
    //解决多模态框下，背景界面颜色变深的问题。
    $(document).on('show.bs.modal', '.modal', function(event) {
    $(this).appendTo($('body'));
    }).on('shown.bs.modal', '.modal.in', function(event) {
    setModalsAndBackdropsOrder();
    }).on('hidden.bs.modal', '.modal', function(event) {
    setModalsAndBackdropsOrder();
    });
    function setModalsAndBackdropsOrder() {
    var modalZIndex = 1040;
    $('.modal.in').each(function(index) {
    var $modal = $(this);
    modalZIndex++;
    $modal.css('zIndex', modalZIndex);
    $modal.next('.modal-backdrop.in').addClass('hidden').css('zIndex', modalZIndex - 1);
    });
    $('.modal.in:visible:last').focus().next('.modal-backdrop.in').removeClass('hidden');
    }
    //解决模态框的下拉条问题
    $.fn.modal.Constructor.prototype.hideModal = function () {
    var that = this
    this.$element.hide()
    this.backdrop(function () {
    //判断当前页面所有的模态框都已经隐藏了之后body移除.modal-open，即body出现滚动条。
    $('.modal.fade.in').length === 0 && that.$body.removeClass('modal-open')
    that.resetAdjustments()
    that.resetScrollbar()
    that.$element.trigger('hidden.bs.modal')
    })
    }
  script(type="text/javascript").
    window.onload=function(){
    $('#LicenseAgreement').on('click',function(e){
    //e.preventDefault();
    var isChecked = $(this).is(':checked');
    //alert(isChecked);
    if(isChecked == true){
    $('#next1').prop('disabled', false);
    }else{
    $('#next1').prop('disabled',true);
    }
    });
    //mode1的下一步按钮
    $('#next1').on('click',function(){
    //$('#modal1').modal('hide');
    $("#modal1 .close").click();
    });
    //mode2的下一步或上一步按钮
    $('#next2').on('click',function(){
    $.ajax({
    cache : true,
    type : "get",
    url : "/test/",
    data : {
    "nodes" : JSON.stringify(($('#table').bootstrapTable('getData')))
    },
    error : function(request) {
    alert("提交失败");
    },
    success : function(data) {
    alert("success");
    }
    });
    $("#modal2 .close").click();
    $("#modal1 .close").click();
    });
    $('#back2').on('click',function(){
    $('#modal1').modal('show');
    $('#modal2').modal('toggle');
    });
    //mode3的下一步或上一步按钮
    $('#back3').on('click',function(){
    $('#modal2').modal('show');
    $('#modal3').modal('toggle');
    });
    }
  script.
    function isValidIP(ip) {
    var reg = /^(\\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
    return reg.test(ip);
    }
  script(type="text/javascript").
    //node 列表的工具栏按钮js
    var curRow = {};
    var $table = $('#table'),
    $add = $('#add'),
    $remove = $('#remove'),
    $button = $('#button');
    $add.click(function () {
    var len = $table.bootstrapTable('getData').length;
    $table.bootstrapTable('append', newData(len));
    //refreshTable();
    $table.bootstrapTable('scrollTo', 'bottom');
    console.log($table.bootstrapTable('getData'));
    return false;
    });
    function newData(len) {
    var rows = [];
    rows.push({
    node_order: len+1,
    node_name: 'node_' + (len+1).toString(),
    arg1:"arg1",
    arg2:"arg2",
    node_ip:'请输入'
    });
    return rows;
    }
    function refreshTable(){
    $("#table .ip").editable({
    type: "text",
    disabled: false,
    emptytext: "请输入" ,
    validate: function (value) {
    if (isValidIP(value) == false) {
    return 'IP格式不正确，请修改!';
    }
    }
    });
    }
    $remove.click(function () {
    var ids = getIdSelections();
    $table.bootstrapTable('remove', {
    field: 'node_order',
    values: ids
    });
    return false;
    });
    $(function () {
    $button.click(function () {
    alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')));
    return false;
    });
    });
    $(function () {
    $("#table").bootstrapTable({
    clickToSelect: true,
    striped: true,
    columns: [{
    checkbox: true
    },{
    field: "node_order",
    title: "序号",
    formatter: function (value, row, index) {
    row.node_order = index+1;
    return index+1;
    }
    },
    {
    field: "node_name",
    title: "节点名",
    formatter: function (value, row, index) {
    row.node_name = "node" + (index+1).toString();
    return "node" + (index+1).toString();
    }
    }, {
    field: "node_ip",
    title: "IP",
    editable: {
    type: 'text',
    title: 'IP',
    validate: function (value) {
    if (isValidIP(value) == false) {
    return 'IP格式不正确，请修改!';
    }
    }
    }
    }, {
    field: "arg1",
    title: "参数1",
    editable: {
    type: 'text',
    title: '参数1',
    validate: function (v) {
    if (isNaN(v)) return '必须是数字';
    var age = parseInt(v);
    if (age <= 0) return '必须是正整数';
    }
    }
    },
    {
    field: "arg2",
    title: "参数2"
    }],
    data: [{
    node_ip: '请输入',
    arg1: 'arg1',
    arg2: 'arg2'
    }],
    onClickRow: function (row, $element) {
    curRow = row;
    }
    });
    });
    function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
    //console.log(row);
    return row.node_order;
    });
    }

