doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 101 Template
    // Bootstrap
    link(href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/main.css')
    // 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用
    //if lt IE 9
      script(src='https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='http://malsup.github.io/min/jquery.form.min.js')
    script(src='./javascripts/main.js')
    script(src='./javascripts/api.js')
    script(src='./javascripts/vcenterCheck.js')
  body
    .container-fluid(style='background: linear-gradient(180deg, #339966, #050505)')
      .row(style='background-color: black')
        .col-5(style='background-color: black')
          .media
            img.align-self-start.mr-3(src='/images/logo.png')
        .col-7(style=min-height )
          //
      .row(style='min-height: 50px;')
      .view
        .mainContainer.container
          .row.clearfix
            .col-md-12.column
              .page-header
                h1
                  | 联想超融合 
                  span LHS H3000
                hr(style='box-shadow: 1px 1px 1px')  
          .tab-container.row
            .tab-list.col-md-3
              .tabListIcon.title1.active 最终用户许可协议
              .tabListIcon.title2 集群部署目标
              .tabListIcon.title3 选择部署目标
              .tabListIcon.title4 设置主机信息
              .tabListIcon.title5 设置集群管理网络
              .tabListIcon.title6 设置集群存储网络
              .tabListIcon.title7 开始部署
              .tabListIcon.title8 结束页
            .tab-content.col-md-9
              .title1
                .header
                  h3 最终用户许可协议
                  p.help-block 仔细阅读并接受以下协议
                .content.row
                  .textField.pre-scrollable
                    h1 最终用户许可协议
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                  form
                    .form-check
                      input#checkAgreement.form-check-input(type='checkbox')
                      label.form-check-label(for='checkAgreement') 我已阅读并同意此协议
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-next 下一步
              .title2.hidden
                .header
                  h3 指定部署目标vCenter
                  p.help-block 指定vCenter并指定目标数据中心以及集群
                .content
                  //做vCenter的表单,完成表单的验证并提交
                  form
                    #vcenterIp.form-group.has-success.has-feedback
                      label(for='vcIp') vCenter IP 地址
                      input#vcIp.form-control(type='ip', placeholder='vCenter IP', aria-describedby='VCIPstatus')
                      span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
                      span#VCIPstatus.sr-only (success)
                    .form-group.has-warning
                      label(for='vcUsername') vCenter 用户名
                      input#vcUsername.form-control(type='name', placeholder='Username')
                    #vcpasswd.form-group
                      label(for='vcPassword') vCenter 密码
                      input#vcPassword.form-control(type='passwd', placeholder='Password', )
                    hr
                    button#vcCheckButton.btn.btn-default(type='button') kaishi
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button#vcButton.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-prev 上一步
              .title3.hidden
                .header
                  h3 选择部署目标
                  p.help-block 指定部署目标数据中心和主机
                .content
                  //把api返回的数据放进下拉选框,选完并提交,再放进集群选框,选完并提交,根据Api返回再生成ESXi选单
                  form
                    .form-group
                      label(for='dataCenterSelector') 选择数据中心
                      select#dataCenterSelector.form-control(type='Datacenter', placeholder='Datacenter')
                      label(for='Cluster') 选择集群
                      select.form-control
                        option cluster1
                        option cluster2
                    hr
                    .ESXishow.pre-scrollable
                      table.table
                        thead
                          tr
                            th 
                            th ESXi
                            th Manufacture
                            th Core
                            th Memory
                        tbody
                          tr
                            td 
                              input#checkAgreement.form-check-input(type='checkbox')
                            td 001
                            td Rammohan 
                            td Reddy
                            td A+
                          tr
                            td 
                              input#checkAgreement.form-check-input(type='checkbox')
                            td 002
                            td Smita
                            td Pallod
                            td A
                          tr
                            td 
                              input#checkAgreement.form-check-input(type='checkbox')
                            td 003
                            td Rabindranath
                            td Sen
                            td A+
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-prev 上一步
              .title4.hidden
                .header
                  h3 设置主机信息
                  p.help-block 指定部署目标数据中心和主机
                .content
                  //根据已选择的主机生成主机信息表单
                  form
                    .ESXishow.pre-scrollable
                      table.table
                        thead
                          tr
                            th 
                            th ESXi
                            th Username
                            th password
                            th datastore
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-prev 上一步
              .title5.hidden
                .header
                  h3 设置集群管理网络
                  p.help-block 指定部署目标数据中心和主机
                .content
                  //根据主机的信息表单生成CVM配置表单
                  form
                    .ESXishow.pre-scrollable
                      table.table
                        thead
                          tr
                            th 
                            th ESXi
                            th Username
                            th password
                            th datastore
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-prev 上一步
              .title6.hidden
                .header
                  h3 设置集群存储网络
                  p.help-block 指定部署目标数据中心和主机
                .content
                  form
                    .ESXishow.pre-scrollable
                      table.table
                        thead
                          tr
                            th 
                            th ESXi
                            th Username
                            th password
                            th datastore
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-prev 上一步
              .title7.hidden
                .header
                  h3 开始部署
                  p.help-block 部署集群
                .content
                  .progress(style='margin: 20px;')
                    .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%')

                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-prev 上一步
              .title8.hidden
                .header
                  h3 结束
                  p.help-block 完成部署
                .content
                  | 8
                .footer.row.btn-box
                  button.btn.btn-default.btn-cancel 取消
                  button.btn.btn-default.btn-prev 上一步
      .row
        .col-12
              #footer(style='clear:both;text-align:center; color:gold;min-height: 50px;')
                    p  
                      | Copyright © lenovocloud.com 2018-2019
