doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 101 Template
    // Bootstrap
    link(href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/main.css')
    // 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用
    //if lt IE 9
      script(src='https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='http://malsup.github.io/min/jquery.form.min.js')
    script(src='./javascripts/main.js')
  body
    .container-fluid(style='background: linear-gradient(180deg, #339966, #050505)')
      .row(style='background-color: black')
        .col-5(style='background-color: black')
          .media
            img.align-self-start.mr-3(src='/images/logo.png')
        .col-7(style=min-height )
          //
      .row(style='min-height: 50px;')
      .view
        .mainContainer.container
          .row.clearfix
            .col-md-12.column
              .page-header
                h1
                  | 联想超融合 
                  span LHS H3000
                hr(style='box-shadow: 1px 1px 1px')  
          .tab-container.row
            .tab-list.col-md-3
              .title1.active 最终用户许可协议
              .title2 设置主机信息
              .title3 设备部署目标
              .title4 设置主机信息
              .title5 设置集群管理网络
              .title6 设置集群存储网络
              .tabListIcon.title7 开始部署
              .tabListIcon.title8 结束页
            .tab-content.col-md-9
              .title1
                .header
                  h3 最终用户许可协议
                  p 仔细阅读并接受以下协议
                .content
                  hr
                  .textField.col-md-12.pre-scrollable
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                    p 请注意，在本软件的安装过程中无论可能会出现任何条款，使用本软件都将受此最终用户许可协议各条款的约束。重要信息，请仔细阅读：您一旦下载、安装或使用本软件，您（自然人或法人）即同意接受本最终用户许可协议（“本协议”）的约束。如果您不同意本协议的条款，请勿下载、安装或使用本软件，您必须删除本软件，或在三十 (30) 天内将未使用的软件退给向其购买软件的供应商，并且要求退还您已为本软件支付的许可费（如果有）。 
                  .form-check
                    input#checkAgreement.form-check-input(type='checkbox')
                    label.form-check-label(for='checkAgreement') 我已阅读并同意此协议
                .footer.row.btn-box
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title2.hidden
                .header
                  | title
                .content
                  form#myForm(action='comment.php', method='post')
                    | Name: 
                    input(type='text', name='name')
                    .tips.hidden 需要传入数据
                    |                         Comment: 
                    textarea(name='comment')
                    input(type='submit', value='Submit Comment')
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title3.hidden
                .header
                  | title
                .content
                  | 1
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title4.hidden
                .header
                  | title
                .content
                  | 1
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title5.hidden
                .header
                  | title
                .content
                  | 1
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title6.hidden
                .header
                  | title
                .content
                  | 1
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title7.hidden
                .header
                  | title
                .content
                  | 1
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-next 下一步
                  button.btn.btn-default.btn-cancel 取消
              .title8.hidden
                .header
                  | title
                .content
                  | 1
                .footer.row.btn-box
                  button.btn.btn-default.btn-prev 上一步
                  button.btn.btn-default.btn-cancel 取消
      .row
        .col-12
              #footer(style='clear:both;text-align:center; color:gold;min-height: 50px;')
                    p  
                      | Copyright © lenovocloud.com 2018-2019
