doctype html
html
  head
    title Test Installer - menu
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css")
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js")
    script(src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js")
    style.
      body {
      position: relative;
      }
  body
    #container(style='width:1000px;')
      #header(style='background-color:black;')
        h1(style='float:left;color:white;font-family:微软雅黑;font-weight:bold;width:155px;background-color:red') &nbspLenovo
        h1(style='float:left;color:white;font-family:微软雅黑;font-weight:bold;width:845px;background-color:black') &nbsp 联想超融合 LHS H3000
    // 按钮触发模态框
    .container
      .row
        .col-bg-8
          button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
          | 开始部署
    // modal框 data-backdrop="static"指定静态背景，点击模态框外部时不会关闭模态框。data-keyboard='false'指禁用Esc键关闭模态框
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', data-backdrop='static',data-keyboard='false')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4#myModalLabel.modal-title
              | Lenovo LHS H3000
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              | ×
          .modal-body
           ul.list-group
             .row
               .col-md-4
                 li.list-group-item.list-group-item-primary 最终用户许可协议
                 li.list-group-item.list-group-item-success 设备部署目标
                 li.list-group-item.list-group-item-secondary 选择部署主机
                 li.list-group-item.list-group-item-secondary 设置主机信息
                 li.list-group-item.list-group-item-secondary 设置集群管理网络
                 li.list-group-item.list-group-item-secondary 设置集群存储网络
                 li.list-group-item.list-group-item-secondary 开始部署
                 li.list-group-item.list-group-item-secondary 完成页
               .col-md-8
                 .modal-dialog
                   body(data-spy='scroll', data-target='.navbar', data-offset='50')
                      #section1.container-fluid.bg-success(style='padding-top:70px;padding-bottom:70px')
                        h1 Section 1
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                      #section2.container-fluid.bg-warning(style='padding-top:70px;padding-bottom:70px')
                        h1 Section 2
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                      #section3.container-fluid.bg-secondary(style='padding-top:70px;padding-bottom:70px')
                        h1 Section 3
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                      #section41.container-fluid.bg-danger(style='padding-top:70px;padding-bottom:70px')
                        h1 Section 4 Submenu 1
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                      #section42.container-fluid.bg-info(style='padding-top:70px;padding-bottom:70px')
                        h1 Section 4 Submenu 2
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
                        p
                          | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
           .modal-footer
             .progress
               .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 30%;')
                   span.sr-only 30% 完成
             button.btn.btn-primary(type='button')
               | 下一步
             button.btn.btn-default(type='button', data-dismiss='modal')
               | 取消
         // /.modal-content
       // /.modal
